NodeRed/node_red.json
[{"id":"721f7c86.250744","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f08a4c2e.5b2498","type":"serial in","z":"721f7c86.250744","name":"","serial":"bb648971.4c6dd8","x":200,"y":160,"wires":[["813ee3aa.b3432"]]},{"id":"813ee3aa.b3432","type":"function","z":"721f7c86.250744","name":"split_msg","func":"//note msg array is arranged this way   \n//  float pm2;\n//  float pm10;\n//  double temperature;\n//  double humidity;\n//  int light_val;\n\nvar new_msg = msg.payload.split(\",\");\nmsg.payload = new_msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["e3095389.3950c8","4ee2bb48.7d444c","58768ce3.5544f4","ae8c153b.a48b9","4374a76.435d258","e5083890.d905b","75a82e02.9257b","fac865d3.8b77e","532733fe.ffa29c","f3480625.d98c"]]},{"id":"86a48ce8.861da","type":"ui_text","z":"721f7c86.250744","group":"69f5cc8a.fd2d44","order":4,"width":0,"height":0,"name":"","label":"The temperature is ","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":340,"wires":[]},{"id":"abe83584.a88378","type":"ui_switch","z":"721f7c86.250744","name":"","label":"switch","tooltip":"","group":"69f5cc8a.fd2d44","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1010,"y":300,"wires":[[]]},{"id":"e3095389.3950c8","type":"debug","z":"721f7c86.250744","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":520,"wires":[]},{"id":"de1afccc.d4d5d","type":"ui_gauge","z":"721f7c86.250744","name":"Humidity","group":"69f5cc8a.fd2d44","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"4ee2bb48.7d444c","type":"function","z":"721f7c86.250744","name":"get_humidity","func":"new_msg = msg.payload[8];\nmsg.payload = new_msg;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["de1afccc.d4d5d"]]},{"id":"58768ce3.5544f4","type":"function","z":"721f7c86.250744","name":"get_temperature","func":"msg.payload = msg.payload[7]\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["86a48ce8.861da"]]},{"id":"ae8c153b.a48b9","type":"function","z":"721f7c86.250744","name":"get_light","func":"light_val = msg.payload[3]\nmsg.payload = light_val\n\n/*\nif(light_val < 270)\n{\n    msg.payload = \"Dark\"\n}\n\nelse if (light_val <300){\n    msg.payload = \"Ambient light\"\n}\n\nelse if (light_val < 400){\n    msg.payload = \"Bright\"\n}\n\nelse if (light_val > 500){\n    msg.payload = \"Very bright\"\n}\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["67f1ea46.f1ee4c"]]},{"id":"4374a76.435d258","type":"function","z":"721f7c86.250744","name":"get_dust_2.5","func":"new_msg = msg.payload[1];\nmsg.payload = new_msg\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["a0132c12.804dc"]]},{"id":"67f1ea46.f1ee4c","type":"ui_text","z":"721f7c86.250744","group":"69f5cc8a.fd2d44","order":4,"width":0,"height":0,"name":"","label":"Currently light value is..","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":180,"wires":[]},{"id":"a0132c12.804dc","type":"ui_chart","z":"721f7c86.250744","name":"","group":"8a4709b6.b25cd","order":5,"width":0,"height":0,"label":"PM2.5 readings","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":100,"wires":[[]]},{"id":"7702d7d5.37cb5","type":"ui_chart","z":"721f7c86.250744","name":"","group":"8a4709b6.b25cd","order":6,"width":0,"height":0,"label":"PM10 readings","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":140,"wires":[[]]},{"id":"e5083890.d905b","type":"function","z":"721f7c86.250744","name":"get_dust_10","func":"new_msg = msg.payload[2];\nmsg.payload = new_msg\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["7702d7d5.37cb5"]]},{"id":"35d04248.ef15b6","type":"ui_chart","z":"721f7c86.250744","name":"","group":"8a4709b6.b25cd","order":5,"width":0,"height":0,"label":"PM1 readings","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":60,"wires":[[]]},{"id":"75a82e02.9257b","type":"function","z":"721f7c86.250744","name":"get_dust_1","func":"new_msg = msg.payload[0];\nmsg.payload = new_msg\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["35d04248.ef15b6"]]},{"id":"fac865d3.8b77e","type":"function","z":"721f7c86.250744","name":"get_InfraRed","func":"light_val = parseInt(msg.payload[4])\nmsg.payload = light_val\n/*\nif(light_val < 15 )\n{\n    msg.payload = \"Safe\"\n}\n\nelse if (light_val < 50){\n    msg.payload = \"Safe\"\n}\n\nelse if (light_val < 100){\n    msg.payload = \"Safe\"\n}\n\nelse if (light_val > 100){\n    msg.payload = \"Safe\"\n}\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["5484901a.cc938"]]},{"id":"532733fe.ffa29c","type":"function","z":"721f7c86.250744","name":"get_UV","func":"light_val = parseInt(msg.payload[5])\nmsg.payload = light_val\n\n/*\nif(light_val < 15 )\n{\n    msg.payload = \"Safe\"\n}\n\nelse if (light_val < 50){\n    msg.payload = \"Safe\"\n}\n\nelse if (light_val < 100){\n    msg.payload = \"Safe\"\n}\n\nelse if (light_val > 100){\n    msg.payload = \"Safe\"\n}\n*/\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["a12736a7.e81de8"]]},{"id":"f3480625.d98c","type":"function","z":"721f7c86.250744","name":"get_CO2","func":"co2_val = msg.payload[6]\nmsg.payload = co2_val\n\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["a789e170.8111e8"]]},{"id":"5484901a.cc938","type":"ui_text","z":"721f7c86.250744","group":"69f5cc8a.fd2d44","order":4,"width":0,"height":0,"name":"","label":"IR levels","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":220,"wires":[]},{"id":"a12736a7.e81de8","type":"ui_text","z":"721f7c86.250744","group":"69f5cc8a.fd2d44","order":4,"width":0,"height":0,"name":"","label":"UV levels","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":260,"wires":[]},{"id":"59a217b5.642358","type":"ui_dropdown","z":"721f7c86.250744","name":"","label":"","tooltip":"","place":"Select option","group":"231d8416.7669cc","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":140,"y":360,"wires":[[]]},{"id":"a789e170.8111e8","type":"ui_text","z":"721f7c86.250744","group":"69f5cc8a.fd2d44","order":4,"width":0,"height":0,"name":"","label":"CO2 level","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":300,"wires":[]},{"id":"bb648971.4c6dd8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"69f5cc8a.fd2d44","type":"ui_group","z":"","name":"Sensor_Readings","tab":"3e051dcb.47e1b2","disp":true,"width":"6","collapse":false},{"id":"8a4709b6.b25cd","type":"ui_group","z":"","name":"Dust_Readings","tab":"3e051dcb.47e1b2","order":2,"disp":true,"width":"6","collapse":false},{"id":"231d8416.7669cc","type":"ui_group","z":"","name":"Home","tab":"e8e9ccc7.d21be","disp":true,"width":"6","collapse":false},{"id":"3e051dcb.47e1b2","type":"ui_tab","z":"","name":"James_Room","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e8e9ccc7.d21be","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":true,"hidden":true}]